/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
	font-family: "Montserrat", sans-serif;
	color: #d2d2d3;
}

hr {
	border-top: 1px solid #6f31261a;
}

.anchor {
	/*-----  <-- Used help from https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors -----*/
	padding: 10px 0;
	background-color: #9a9f95;
	overflow: hidden;
	position: relative;
}

/*----- Entire .anchor p code below taken and altered from https://www.quackit.com/css/codes/marquees/-----*/
.anchor p {
	font-size: 100%;
	color: #424242;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	    transform: translateX(100%);
	-webkit-animation: anchor 45s linear infinite;
	animation: anchor 45s linear infinite;
}
@-webkit-keyframes anchor {
	0% {
		-webkit-transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
	}
}
@keyframes anchor {
	0% {
		-webkit-transform: translateX(100%);
		transform: translateX(100%);
	}
	100% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.anchor a {
	color: #6f3126;
}

/* ---------- Navigation ---------- */

.navbar {
	background-color: #424242;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-brand {
	padding-top: 2px;
	padding-bottom: 2px;
}

.logo-image {
	height: 65px;
	width: 65px;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-toggler:focus {
	outline: none;
}

.navbar-dark .navbar-nav .nav-link {
	color: #d2d2d3;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 80%;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #d7b380;
	font-weight: bold;
}

/* ---------- Home Page ---------- */

.home-page-container {
	background: url(../images/background-image.jpg) no-repeat center center
		fixed;
	background-color: #424242;
	background-size: cover;
	position: relative;
}

.background-header {
	text-align: center;
	font-family: "Chango", cursive;
	color: #d2d2d3;
	font-weight: 300;
	font-size: larger;
	padding-top: 25vh;
	padding-bottom: 25vh;
}

.background-header p {
	font-family: "Montserrat", sans-serif;
	letter-spacing: 8px;
}

.opaque-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	right: 0;
}

/* ---------- About Page ---------- */

.about-image {
	height: 200px;
	width: 200px;
	border-radius: 50%;
}

.about-page-container {
	text-align: center;
	background-color: #9a9f95cc;
	color: #37302e;
}

.about-page-container h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 25px;
	font-size: 200%;
	letter-spacing: -1px;
	font-family: "Chango", cursive;
	margin: 0 auto;
}

.about-page-container p {
	font-weight: 500;
	margin-top: 0 auto;
	letter-spacing: -1px;
}

.heading-icon {
	text-align: center;
	margin: 0 auto;
	font-size: 200%;
	padding: 0 12px 25px 12px;
}

.about-section-container {
	background-color: #9a9f95;
	padding: 5px 0;
}

.about-section-container p {
	font-weight: 500;
	margin: 0 auto;
	letter-spacing: -1px;
	padding: 5px;
}

.about-images-container {
	padding-top: 20px;
	padding-bottom: 50px;
}

.about-images-container h3 {
	font-family: "Chango", cursive;
	padding-top: 20px;
}

.about-images-container p {
	font-style: italic;
	text-transform: lowercase;
	font-size: 92%;
	margin: 0 auto;
	padding: 5px 0;
}

@media screen and (max-width: 768px) {
	.about-image {
		margin-top: 50px;
	}
	.about-images-container {
		padding-top: 0px;
	}
}

@media screen and (max-width: 992px) {
	.about-images-container h3 {
		font-size: 150%;
	}
}

/* ---------- Repertoire Page ---------- */

.rep-page-container {
	text-align: center;
	background: url(../images/citrusfunk9.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	background-color: #424242;
}

.rep-opaque-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	right: -0;
}

.rep-page-container h2 {
	text-align: center;
	padding-top: 50px;
	font-size: 200%;
	letter-spacing: -1px;
	font-family: "Chango", cursive;
}

.rep-section-container {
	padding: 50px 0;
}

.rep-section-container h3 {
	font-family: "Chango", cursive;
	text-decoration: underline;
}

.rep-section-container p {
	font-weight: 400;
	font-size: 75%;
}

.rep-section-container .rep-info {
	font-size: 100%;
}

.rep-section-container .rep-link {
	font-weight: bold;
    color: #49bfbf;
}

.rep-video-container,
.rep-video {
	padding: 0;
}

.rep-video-container video {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

/* ---------- Music Page ---------- */

.music-page-container {
	text-align: center;
	background-color: #9a9f95cc;
	color: #37302e;
}

.music-page-container h2 {
	text-align: center;
	padding-top: 50px;
	font-size: 200%;
	letter-spacing: -1px;
	font-family: "Chango", cursive;
}

.embed-video {
	padding-top: 50px;
	padding-right: 0;
	padding-left: 0;
}

.youtube-section a {
	color: #6f3126;
	font-size: 80px;
}

.youtube-section a:hover,
.youtube-section .youtube-link {
	color: #ff0000;
}

.youtube-section .youtube-link {
	color: #6f3126;
	font-size: 100%;
	font-weight: bold;
}

.music-section-container {
	padding-bottom: 50px;
}

.embed-icon {
	padding: 0;
}

@media screen and (min-width: 1200px) {
	.youtube-section a {
		font-size: 120px;
	}
}

/* ---------- Gallery Page ---------- */

.gallery-page-container {
	text-align: center;
	background: url(../images/citrusfunk10.jpg) no-repeat center center fixed;
	background-size: cover;
	position: relative;
	background-color: #424242;
}

.gallery-opaque-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	right: -0;
}

.gallery-page-container h2 {
	text-align: center;
	padding-top: 50px;
	font-size: 200%;
	letter-spacing: -1px;
	font-family: "Chango", cursive;
}

.gallery-page-container p {
    margin-top: 25px;
    margin-bottom: 0;
}

.gallery-page-container .ig-link {
    color: #49bfbf;
    font-weight: bold;
}

/* Altered CSS code snippet below from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

.gallery-section-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 42px 0 50px 0;
}

.gallery-section {
	padding: 0;
}

.gallery-column {
	-webkit-box-flex: 25%;
	    -ms-flex: 25%;
	        flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.gallery-column-1 {
	padding-top: 30px;
}

.gallery-column-3 {
	padding-top: 30px;
}

.gallery-column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 10%;
	border: 1px solid #9a9f9580;
}

@media screen and (max-width: 992px) {
	.gallery-column {
		-webkit-box-flex: 50%;
		    -ms-flex: 50%;
		        flex: 50%;
		max-width: 50%;
	}
}

@media screen and (max-width: 576px) {
	.gallery-column {
		-webkit-box-flex: 100%;
		    -ms-flex: 100%;
		        flex: 100%;
		max-width: 100%;
		padding: 0;
	}

	.gallery-column img {
		margin: 0;
		border-radius: 0;
	}

	.gallery-section {
		padding-bottom: 0;
	}
}
/* ---------- Contact Page ---------- */

.contact-page-container {
	background-color: #9a9f95cc;
	color: #37302e;
}

.contact-page-container h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: 200%;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: "Chango", cursive;
}

.contact-section-container {
	padding: 50px 0;
}

.contact-section-container form {
	padding: 0 15px 25px 15px;
	margin-top: 25px;
	background-color: #9a9f95;
}

.contact-section-container legend {
	font-family: "Chango", cursive;
	letter-spacing: 1px;
	text-decoration: underline;
	padding-top: 5px;
}

label {
	margin-top: 8px;
}

.form-button {
	background-color: #d7b380;
	color: #37302e;
	border-color: #37302e;
}

.form-button:hover,
.form-button:focus {
	background-color: #6f3126;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.form-control {
	font-weight: 100;
	font-size: 75%;
	border-radius: 1.25em;
	color: #37302e;
}

.card-title {
	letter-spacing: 1px;
	text-decoration: underline;
	font-family: "Chango", cursive;
}

.card-text {
	font-size: 75%;
	letter-spacing: 1px;
	font-style: italic;
}

.card img {
	opacity: 0.5;
}

.card img:hover {
	opacity: 1;
}

.contact-info-card {
	padding: 0;
}

.btn-primary {
	color: #37302e;
	background-color: #d7b380;
	border-color: #37302e;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color: #6f3126;
	border: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

.contact-section-container .card {
	border: none;
	background-color: #9a9f95;
	margin-top: 25px;
	text-align: center;
}

@media screen and (max-width: 576px) {
	.contact-section-container form {
		text-align: center;
	}
}

/* ---------- Footer ---------- */

.footer-icon {
	text-align: center;
	padding: 5px 0;
}

.footer-container {
	background-color: #424242;
}

.footer-container i {
	font-size: 300%;
	color: #d2d2d3;
}

.footer-container p {
	font-size: 50%;
	margin: 0 auto;
}
