body {
	font-family: "Montserrat", sans-serif;
	color: #d2d2d3;
}

/* ---------- Navigation ---------- */

.navbar {
	background-color: #424242;
}

.logo-image {
	height: 50px;
	width: 50px;
}

.navbar .navbar-toggler {
	border: 0;
}

.navbar-dark .navbar-nav .nav-link {
	color: #d2d2d3;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 80%;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: #d7b380;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
	color: #b6b7b4;
}

/* ---------- Home Page ---------- */

.home-page-container {
	height: 100vh;
	background: url(../images/background-image.jpg) no-repeat center center
		fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.background-header {
	position: absolute;
	margin: 0 auto;
	left: 0;
	text-align: center;
	top: 25%;
	font-family: "Chango", cursive;
	color: #d2d2d3;
    font-weight: 300;
    font-size: larger;
}

.background-header p {
    font-family: "Montserrat", sans-serif;
    letter-spacing: 8px;
}

.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

/* ---------- About Page ---------- */

.about-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.about-page-container {
    text-align: center;
    background-color: #9A9F95;
    color: #37302E;
}

.about-page-container h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Chango', cursive;
}

.about-section-container {

}

.about-section-container p {
    font-weight: 500;
}

.about-images-container {
    padding-top: 20px;
    padding-bottom: 50px;
}

.about-images-container h3 {
    padding-top: 20px;
    font-size: 200%
}

.about-images-container p {
    font-style: italic;
    text-transform: lowercase;
    font-size: 92%;
}

@media screen and (max-width: 768px) {
    .about-image {
        margin-top: 50px;
    }
    .about-images-container {
        padding-top: 0px;
    }
}

@media screen and (max-width: 992px) {
    .about-images-container h3 {
        font-size: 150%;
    }
}

/* ---------- Repertoire Page ---------- */

.rep-page-container {
    text-align: center;
    background-color: #ccae984d;
    color: #37302E;
}

.rep-page-container h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 200%;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'Chango', cursive;
}