body {
    font-family: 'Montserrat', sans-serif;
}

/* ---------- Navigation ---------- */

.navbar {
    background-color: #424242;
}

.logo-image {
    height: 50px;
    width: 50px;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #d2d2d3;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #d7b380;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #b6b7b4;
}



